@model Phone

@{
    ViewBag.Title = "Редактирование";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            @{
                await Html.RenderPartialAsync("PartialViews/PhoneFormPartialView");
            }
            <input type="text" hidden asp-for="Id">
            <button type="submit"
                    class="btn btn-outline-warning">Изменить</button>
        </form>
    </div>
</div>
