@model FileViewModel

@{
    ViewBag.Title = "Загрузка файла";
    Layout = "_Layout";
}

<h2>Загрузите файл на сервер</h2>

<form asp-action="UploadFile" asp-controller="Phones" method="post" enctype="multipart/form-data">
  <fieldset>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="file" asp-for="File">
        <label class="form-check-label" asp-for="File">
          Добавьте файл
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-info">Добавить</button>
  </fieldset>
</form>
