@model Phone
<label for="name">
    Наименование
    <input id="name" type="text" asp-for="Name">
</label>
<label for="company">
    Производитель
    <input id="company" type="text" asp-for="Company">
</label>
<label for="price">
    Стоимость
    <input id="price" type="text" asp-for="Price">
</label>