@model PhoneCreateViewModel
<div class="mb-3">
    <label asp-for="Name" class="form-label">Наименование</label>
    <input type="text" class="form-control" asp-for="Name">
    <div class="form-text">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="mb-3">
    <label asp-for="Price" class="form-label">Стоимость</label>
    <input type="text" class="form-control" asp-for="Price">
    <div class="form-text">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
</div>
<div class="mb-3">
    <label asp-for="BrandId" class="form-label">Производитель</label>
    <select asp-for="BrandId" class="form-select">
        @foreach (var brand in Model.Brands)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
</div>

