@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="Test">
    <input type="text" name="id" placeholder="id">
    <input type="text" name="quantity" placeholder="quantity">
    <button type="submit">Отправить</button>
</form>