@model ResponseMessageViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Status : @Model.Message</h2>

<a asp-action="Index" asp-controller="Baskets">Перейти в корзину</a>
